{% extends "core/base.html" %}
{% load i18n %}

{% block title %}
  {{ chat.title }}
{% endblock title %}

{% block content %}
  <div class="flex flex-col h-full"
       x-data="chatDetail()"
       @keydown.escape.window="showDeleteModal = false">

    {# Chat header #}
    {% include "chats/includes/header/_chat_detail_header.html" %}

    {# Messages container #}
    {% include "chats/includes/_messages_container.html" %}

    {# Message input form #}
    <div class="flex-shrink-0">
      {% include "chats/includes/forms/_message_form.html" %}
    </div>
  </div>

  {# Delete confirmation modal #}
  {% include "chats/includes/_delete_modal.html" %}

  {# Chat detail scripts #}
  {% include "chats/includes/_chat_detail_scripts.html" %}
{% endblock content %}
